{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
            <title>Project Name</title>
        {% endblock %}

        {% block meta_tags %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% endblock %}


        {% tailwind_css %}

        {% block custom_css %}
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        {% endblock %}

        {% block custom_js %}
            <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% endblock %}


    </head>

    <body>
        {% block content %}

        {% endblock %}

    </body>
</html>
