{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
	{% block title %}
    <title>Django Tailwind</title>
	{% endblock %}

	{% block meta_tags %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% endblock %}


	{% tailwind_css %}
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

	</head>

	<body class="antialiased font-sans bg-gray-200">
		{% block content %}

		{% endblock %}
	</body>
</html>