<!-- templates/home.html -->
{% extends "base_crud.html" %}

{% block content %}

    <div class="px-0 sm:px-2" id="crud">
        <div class="p-1 sm:p-2 sm:flex sm:flex-col sm:justify-center">
            <div class="flex justify-reverse flex-wrap sm:flex sm:items-center px-2 md:px-0 py-6 sm:py-4">
                <div class="sm:flex-auto ml-2">
                    <h1 class="text-xl font-semibold text-gray-900">Posts</h1>
                    <p class="mt-2 text-sm text-gray-700">A list of all the posts including main characteristics.</p>
                </div>
                <div class="flex justify-end items-center mt-4">
                    {% include 'search_bar.html' %}
                    <!--ADD POST-->
                    <div class="sm:mt-0 sm:ml-8 sm:flex-none ">
                        <a href="{% url 'post_create' %}"> <button type="button" class="inline-flex justify-center rounded-md border border-transparent bg-primary-600 px-4 ml-2 py-2 text-sm font-medium text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 sm:w-auto">Add Post</button></a>
                    </div>
                </div>
            </div>

            {% include 'table_search_pagination.html' %}
        </div>
    </div>
{% endblock content %}
