<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="container mx-auto">
        <div class="flex flex-col justify-center">
            <h2 class='text-center font-semibold text-xl py-6' >Blog List </h2>
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <form class="form-inline ml-8 mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
                    {% csrf_token %}
                    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button type="submit">Search</button>
                </form>

                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

                        <table id="dataTable" class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-100">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Body</th>
                                    <th scope="col" class="relative px-6 py-3">
                                        <span class="sr-only">Edit</span>
                                    </th>
                                </tr>
                            </thead>
                            {% include 'search_results.html' %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
