{% extends 'base.html' %}

{% block content%}

    {% include 'features/features1.html' %}
    {% include 'features/features2.html' %}
    {% include 'features/features3.html' %}
    {% include 'features/features4.html' %}
    {% include 'features/features5.html' %}
    {% include 'features/features6.html' %}
    {% include 'features/features7.html' %}
    {% include 'features/features8.html' %}
    {% include 'features/features9.html' %}
    {% include 'features/features10.html' %}


{% endblock %}
